<div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert" *ngIf="showAlert">
    <span class="font-medium capitalize">utilisateur ajouté avec succée</span> 
  </div>
<div class="w-full">
    <div class="px-4 ">
        <div class="flex inline-flex p-6">
            <svg class="w-6 h-6 text-teal-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                    d="M7 2a2 2 0 0 0-2 2v1a1 1 0 0 0 0 2v1a1 1 0 0 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1c0 1.1.9 2 2 2h11a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H7Zm3 8a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm-1 7a3 3 0 0 1 3-3h2a3 3 0 0 1 3 3c0 .6-.4 1-1 1h-6a1 1 0 0 1-1-1Z"
                    clip-rule="evenodd" />
            </svg>

            <h5 class="text-xl font-bold dark:text-white px-1">Ajouter un nouveau utilisateur</h5>
        </div>
        <form [formGroup]="UserForm">
            <div class="flex flex-col md:flex-row py-5 ">
                <label for="name" class="md:w-1/4 font-medium md:text-base text-md text-gray-800 md:pr-4 padding-label py-4 md:py-0">Nom*</label>
                <input type="text" id="name" formControlName="name" placeholder="Saisir votre nom"
                    class="md:text-base text-sm bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-2/4 p-2.5 ">
            </div>
            <div class="flex flex-col md:flex-row py-5">
                <label for="lastname" class="md:w-1/4 font-medium md:text-base text-md text-gray-800 md:pr-4 padding-label py-4 md:py-0">Prénom*</label>
                <input type="text" id="lastname" formControlName="lastname" placeholder="Saisir votre prenom "
                    class="bg-gray-50 border border-gray-300 text-gray-900 md:text-base text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-2/4 p-2.5 ">
            </div>
            <div class="flex flex-col md:flex-row py-5">
                <label for="adresse" class="md:w-1/4 font-medium md:text-base text-md text-gray-800 md:pr-4 padding-label py-4 md:py-0">Adresse*</label>
                <input type="text" id="adresse" formControlName="adresse" placeholder="Saisir votre adresse " class="bg-gray-50 border border-gray-300 text-gray-900 md:text-base text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-2/4 p-2.5">
            </div>
            <div class="flex flex-col md:flex-row py-5">
                <label for="tel" class="md:w-1/4 font-medium md:text-base text-md text-gray-800 md:pr-4 padding-label py-4 md:py-0">Téléphone*</label>
                <input type="text" id="tel" formControlName="tel" placeholder="Saisir votre téléphone " class="bg-gray-50 border border-gray-300 text-gray-900 md:text-base text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-2/4 p-2.5">
            </div>
            <div class="flex flex-col md:flex-row py-5">
                <label for="email" class="md:w-1/4 font-medium md:text-base text-md text-gray-800 md:pr-4 padding-label py-4 md:py-0">Email*</label>
                <input type="text" id="email" formControlName="email" placeholder="Saisir votre email " class="bg-gray-50 border border-gray-300 text-gray-900 md:text-base text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-2/4 p-2.5">
            </div>
            <div class="flex flex-col md:flex-row py-5">
                <label for="password" class="md:w-1/4 font-medium md:text-base text-md text-gray-800 md:pr-4 padding-label py-4 md:py-0">Paswword*</label>
                <input type="password" id="password" formControlName="password" placeholder="Saisir votre mot de passe " class="bg-gray-50 border border-gray-300 text-gray-900 md:text-base text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-2/4 p-2.5">
            </div>
            <div class="flex flex-col md:flex-row py-5">
                <label for="role" class="md:w-1/4 font-medium md:text-base text-md text-gray-800 md:pr-4 padding-label py-4 md:py-0">Service*</label>
                <select id="role" formControlName="roleId"  class="bg-gray-50 border border-gray-300 text-gray-900 md:text-base text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-2/4 p-2.5">
                    <option value="Choisir un rôle" selected>Choisir un rôle</option>
                    <option *ngFor='let roles of role' [ngValue]="roles.id">{{roles.name}}</option>
                </select>
            </div>
            <div class="flex flex-col md:flex-row py-5">
                <label for="role" class="md:w-1/4 font-medium md:text-base text-md text-gray-800 md:pr-4 padding-label py-4 md:py-0">Role*</label>
                <select id="role" formControlName="serviceId"  class="bg-gray-50 border border-gray-300 text-gray-900 md:text-base text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-2/4 p-2.5">
                    <option value="Choisir un service" selected>Choisir un service</option>
                    <option *ngFor='let services of service' [ngValue]="services.id">{{services.name}}</option>
                </select>
            </div>
            <div class="flex flex-col justify-start md:flex-row md:pt-0 pt-8">
                <a type="button" routerLink="/user"
                    class="uppercase inline-flex justify-center px-4 py-2 text-md font-semibold  text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-600 focus:z-10 focus:ring-2 focus:ring-blue-600 focus:text-blue-600 md:mr-2 md:mb-0 mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-4 pr-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                    </svg>
                    Annuler
                </a>
                <button type="submit" (click)="Submit()"
                    class="disabled:opacity-30 uppercase inline-flex justify-center px-4 py-2 text-md font-semibold  text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-green-600 focus:z-10 focus:ring-2 focus:ring-green-600 focus:text-green-600 md:ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-4 pr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    Enregistrer
                </button>
            </div>
        </form>
    </div>
</div>
