<div class="flex flex-col  p-8 ">
        <div class="grid grid-cols-1 gap-4">
            <div class=" sm:place-self-auto lg:place-self-center p-4 w-full ">
                <div class="flex inline-flex py-4">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="M20 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6h-2m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4" />
                    </svg>
                    <h5 class="text-xl font-bold dark:text-white px-1"> List de services</h5>
                </div>
                <br>
                <div class="inline-flex rounded-lg shadow-sm pb-4" role="group">
                    <button type="button" routerLink="/admin"
                        class="rounded-l-lg inline-flex items-center px-4 py-2 text-md font-medium text-gray-900 bg-white border border-b border-gray-200 hover:bg-gray-100 hover:text-orange-700 focus:z-10 focus:ring-2 focus:ring-orange-700 focus:text-orange-700">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
                          </svg>
                          
                        Retour
                    </button>
                    <button type="button" routerLink="add"
                        class="rounded-r-lg inline-flex items-center px-4 py-2 text-md font-medium text-gray-900 bg-white border border-b border-gray-200 hover:bg-gray-100 hover:text-teal-700 focus:z-10 focus:ring-2 focus:ring-teal-700 focus:text-teal-700">
    
                        Ajouter
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                          </svg>
                    </button>
                </div>

                <div class="overflow-x-auto shadow-md rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Image 
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Nom 
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Description
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Type
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ser of service" class=" text-lg bg-white border-b hover:bg-gray-50">
                                <td class="px-6 py-4">
                                    <img src="{{ser.pic}}" alt="" class="h-10 w-10">
                                </td>
                                <td class="px-6 py-4">
                                    {{ ser?.name }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ ser?.desc }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ ser?.type }}
                                </td>
                                <td class="flex items-center px-6 py-4 space-x-3">
                                    <button  routerLink="update/{{ser.id}}"
                                    class=" text-teal-400 font-medium text-lg  py-2.5 me-2 mb-2 underline underline-offset-4">Modifier</button>
                                    <button (click)="openSer(ser.id)"
                                        class=" text-red-400 font-medium  text-lg py-2.5 me-2 mb-2 underline underline-offset-4 ">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
<div class="fixed z-10 inset-0 overflow-y-auto" [ngClass]="{'hidden': !showModalSer}">
    <div class="flex items-end justify-center min-h-screen text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity " aria-hidden="true">
            <div class="absolute inset-0 bg-transparent"></div>
        </div>

        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div class="inline-block align-bottom bg-gray-50 rounded-lg border-2 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
            role="dialog" aria-modal="true" aria-labelledby="modal-headline">
            <div class="bg-gray-50 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                    Suppression du service
                </h3>
                <div class="mt-2">
                    <p class="text-sm text-gray-500">
                        Voulez-vous supprimer ce service ?
                    </p>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button (click)="showModalSer = false " type="button"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-teal-500 text-base font-medium text-white hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Annuler
                </button>
                <button (click)="SupprimerSer()" type="button"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-teal-500 text-base font-medium text-white hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Confirmer
                </button>
            </div>
        </div>
    </div>
</div>